name: Analyze Latest Page Build Artifacts

on:
  workflow_dispatch:

jobs:
  download-assets:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
          - d-bl.github.io
          - GroundForge
#          - GroundForge-help
#          - MAE-gf
#          - tesselace-to-gf
#          - gw-lace-to-gf
#          - inkscape-bobbinlace
#          - polar-grids
    steps:

      - name: Get latest successful run ID for ${{ matrix.repo }}
        id: get_run_id
        run: |
          run_id=$(gh run list --repo d-bl/${{ matrix.repo }} --workflow pages-build-deployment --status success --limit 1 --json databaseId -q '.[0].databaseId')
          echo "run_id=$run_id" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Download github-pages artifact of ${{ matrix.repo }}
        uses: actions/download-artifact@v5
        with:
          repository: d-bl/${{ matrix.repo }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ steps.get_run_id.outputs.run_id }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Untar downloaded artifact of ${{ matrix.repo }}
        run: tar -xf artifact.tar

      - name: List extracted files of ${{ matrix.repo }}
        run: |
          pwd
          ls -R ../..

      - name: Get script
        run: |
          wget https://raw.githubusercontent.com/d-bl/d-bl.github.io/refs/heads/master/urls.py

      - name: Collect URLs from extracted HTML pages
        run: |
          python urls.py ${{ matrix.repo }} > collected-urls.txt
        shell: bash

      - name: Show collected urls
        run: cat collected-urls.txt

      - name: Show problematic URLs
        run: |
          xargs -I {} bash -c 'curl -s -o /dev/null -w "%{http_code}" "{}" ; echo " " {}' < collected-urls.txt | grep -v '301  ' | grep -v '400  '
