name: Zip Published Webpages

on:
  workflow_dispatch:

jobs:
  zip:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
          - d-bl.github.io
          - GroundForge
          - GroundForge-help
          - MAE-gf
          - tesselace-to-gf
          - gwlace-to-gf
          - inkscape-bobbinlace
          - polar-grids
    steps:
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
      - name: Install Jekyll, Bundler, and theme
        run: gem install jekyll bundler jekyll-theme-architect
      - name: Checkout ${{ matrix.repo }}
        uses: actions/checkout@v4
        with:
          repository: d-bl/${{ matrix.repo }}
          token: ${{ secrets.GITHUB_TOKEN }}
          path: d-bl/${{ matrix.repo }}
        continue-on-error: true
#      - name: Build site
#        run: jekyll build || true
      - name: show files
        run: pwd || ls -la *
