name: Download Latest Page Build Artifacts

on:
  workflow_dispatch:

jobs:
  download-assets:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
          - d-bl.github.io
          - GroundForge
#          - GroundForge-help
#          - MAE-gf
#          - tesselace-to-gf
#          - gw-lace-to-gf
#          - inkscape-bobbinlace
#          - polar-grids
    steps:

      - name: Get latest successful run ID for ${{ matrix.repo }}
        id: get_run_id
        run: |
          run_id=$(gh run list --repo d-bl/${{ matrix.repo }} --workflow pages-build-deployment --status success --limit 1 --json databaseId -q '.[0].databaseId')
          echo "run_id=$run_id" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Download github-pages artifact of ${{ matrix.repo }}
        uses: actions/download-artifact@v5
        with:
          repository: d-bl/${{ matrix.repo }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ steps.get_run_id.outputs.run_id }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Untar downloaded artifact of ${{ matrix.repo }}
        run: |
          mkdir -p ${{ matrix.repo }}
          tar -xf artifact.tar -C ${{ matrix.repo }}

      - name: List Downloaded Artifacts
        run: |
          pwd
          ls -R ..
