name: Download Latest Page Build Artifacts

on:
  workflow_dispatch:

jobs:
  download-assets:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
          - d-bl.github.io
          - GroundForge
#          - GroundForge-help
#          - MAE-gf
#          - tesselace-to-gf
#          - gw-lace-to-gf
#          - inkscape-bobbinlace
#          - polar-grids
    steps:
      - name: Download github-pages artifact
        uses: actions/download-artifact@v5
        with:
          name: github-pages
          repository: d-bl/${{ matrix.repo }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: List Downloaded Artifacts
        run: |
          pwd
          ls -R /home/runner/work
